body {
  background-color: black;
}

font {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}

pre {
  color: white;
}


span {
  margin-top: 30px;
  margin-right: 30px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}




hr {
  height: 2px;
  border-width: 0;
  color: white;
  background-color: white;
  width: 100%;
}

h2 {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}

p {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}


a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
}


a:hover {
  color: #FFD270;
}


.logo-nafn {
  margin: 50px;
}

.um-midja {
  margin-bottom: 150px;
  margin-top: 200px;
}

/* .um-midja h2{
  text-align: left;
} */

.nafnid {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
}




.head {
  margin-bottom: 80px;
  text-align: center;


}

.main-midja-art-myndir {
  margin-top: 20px;
  column-count: 3;
  overflow: hidden;
}

@media (max-width: 1150px) {
  .main-midja-art-myndir {
    column-count: 2;
    overflow: hidden;
  }
}

@media (max-width: 910px) {
  .main-midja-art-myndir {
    column-count: 1;
    overflow: hidden;
  }
}



.sticky-menu {
  margin-top: 20px;
  font-size: 20px;
  column-count: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99999;
  background-color: black;
  text-align: center;
}

.main-midja {
  text-align: center;
  column-count: 3;
  column-gap: 16px;
  margin-bottom: 100px;
}




.main-midja-art {
  font-size: 30px;
  margin-bottom: 160px;
}

.a4-drawings {
  margin-right: 30px;
  word-spacing: normal;
}

.a4-menu {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 160px;
  text-align: center;
  /* word-spacing: 20px; */
}



.main-midja img {
  width: 90%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.myndir-allt-hljodfaeri {
  width: 150%;
  display: inline-block;

}


.text-hljodfaeri {
  display: inline-block;
  width: 50%;
}



#inspo {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 70px;
}



.detail-mynd {
  margin-bottom: 1000px;
  width: 100%;
}

.vid {
  margin-bottom: 100px;
}

.h2-video {
  font-size: 25px;
  margin-bottom: 100px;
}

.video-section {
  text-align: center;
}

.punktur {
  display: inline-block;
}

.portfolio-pdf {
  text-align: center;
  display: block;
  /* width: 100%; */
  border: 0;
}

.portfolio-box {
  text-align: center;
  width: 1000px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}


.scroll-text {
  letter-spacing: 2px;
}

marquee {
  width: -webkit-fill-available;
  margin-top: -8px;
}

@media (max-width: 600px) {
  .vidd {
    width: auto;

  }

  ;
}

;



@media (max-width: 1199px) {
  .main-midja {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .main-midja {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .main-midja {
    max-height: 5000px;
    column-count: 1;
    overflow: hidden;
  }
}

@media (max-width: 650px) {
  .main-midja {
    max-height: 2000px;
    column-count: 1;
    overflow: hidden;
  }

  ;
}

;




/* .myndir:hover .mynd {
  opacity: 0.85;
} 
------hover yfir mynd og hún dekkist smá

*/




.mynd-box {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

.mynd {
  opacity: 1;
  display: inline-block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.mynd-a4 {
  opacity: 1;
  display: inline-block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: 20px;
}

.myndir {
  position: relative;
  width: 100%;
}

.myndir-a4 {
  position: relative;
  margin: 20px;
  width: 80%;
}


.mynd-box-texti {
  position: absolute;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-top: -110px;
  margin-right: -3000px;
  margin-left: 50px;
}




[data-title]:hover:after {
  opacity: 1;
  transition: all 0s ease 0s;
  visibility: visible;
}


[data-title]:after {
  content: attr(data-title);
  /* position: absolute; */
  left: 100%;
  padding: 4px 4px 4px 8px;
  color: white;
  display: inline-block;

  /* -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: black;
  /* background-image: -moz-linear-gradient(top, white, black);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, black));
  background-image: -webkit-linear-gradient(top, white, black);
  background-image: -moz-linear-gradient(top, white, black);
  background-image: -ms-linear-gradient(top, white, black);
  background-image: -o-linear-gradient(top, white, black); */
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
}








/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
/* .modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.45s;
  animation-name: zoom;
  animation-duration: 0.45s;
  overflow: auto;
} */

#myImg:hover {
cursor: pointer;
}


@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0.1)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 60px;
  font-weight: bold;;
}

.close:hover{
  color: #FFD270;
  text-decoration: none;
  cursor: pointer;
}




#myImg {
  opacity: 1;
  display: inline-block;
  width: 100%;
  height: auto;
  transition: .45s ease;
  backface-visibility: hidden;
  margin: 20px;
}


.a2022, .a2021, .a2020, .a2019, .older {
margin-right: 30px;
}


/* þúsund þakkir/ thank you Nick Parsons
https://stackoverflow.com/questions/53983082/how-to-enlarge-a-image-using-javascript
 */