

body {
  background-color: black;
  height: 100%;
  cursor: url('../bara-hvit-symmetry-stjarna.cur'), auto;
}

@font-face {
  font-family: "Stafroid";
  src: url("../letur/Stafroid-Regular.otf") format("opentype");
  }

  a:hover {
    color: #FFD270;
    cursor: url('../stjarna-pointer.cur'),default;
  }


a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-family: monospace;
  word-spacing: 10px;

}

.parent {
  margin-top: 50px;
  display: flex;
  color: antiquewhite;
  justify-content: center;
  flex-shrink: 0;
  height: 550px;
}

.head {
  display: flex;
  justify-content: space-around;
}



.divy {
    font-family: "Stafroid";
    width: 30%;
    background-repeat:no-repeat;
    background-position: center center;
    background-color: midnightblue;
    background-size: cover;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    font-size: 30px;
    outline: none;
    overflow: hidden;
    min-width: 200px;
    min-height: 200px;
    letter-spacing: 8px;
    line-height: 40px; 

  }

  .mynd1 {
    background-image: url("../myndir/20201231_235803.jpg");
  }

  .mynd2 {
    background-image: url("../myndir/black-square.JPG");
  }

  .mynd3 {
    background-image: url("../myndir/PICT0213.JPG");
  }

  


  p {
      font-family: "Stafroid";
      writing-mode: vertical-lr;
      text-orientation: upright;
      width:50%;
      height:150px;
      color: antiquewhite;
      letter-spacing: 10px;
}


marquee {
  width: -webkit-fill-available;
  margin-top: -8px;
  color: white;
} 